.advantages-card {
  position: relative;
  min-height: 300px;
  padding: 40px 45px 20px;
  box-shadow: inset 0 0 1px 1px $color-whisper;

  @include vp-1023 {
    min-height: 360px;
    padding-right: 30px;
  }

  @include vp-767 {
    min-height: 340px;
    padding: 30px 30px 35px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(n+3) {
    @include vp-767 {
      min-height: 325px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-deep-sky-blue;
    z-index: 0;
  }

  &:hover,
  &:focus-within {
    background-color: $color-deep-sky-blue;

    & svg {
      fill: $color-alice-blue;
    }

    & h3 {
      color: $color-alice-blue;
    }

    & p {
      color: $color-alice-blue;
    }
  }
}

.advantages-card svg {
  fill: $color-deep-sky-blue;

  @include vp-1023 {
    width: 30px;
    height: 30px;
  }
}

.advantages-card h3 {
  position: relative;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.6px;
  color: $color-deep-sky-blue;
  margin: 15px 0 14px;
  z-index: 1;

  @include vp-1023 {
    margin-top: 9px;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages-card--detective h3 {
  @include vp-1023 {
    margin-bottom: 7px;
  }
}

.advantages-card--tag h3 {
  @include vp-1023 {
    margin-top: 3px;
    margin-bottom: 7px;
  }
}

.advantages-card--detective h3,
.advantages-card--tag h3 {
  @include vp-767 {
    margin-top: 13px;
    margin-bottom: 12px;
  }
}

.advantages-card p {
  margin: 0;
  line-height: 21.6px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 19px;
  }
}
