.catalog-card {
  position: relative;
  background-color: $color-venice-blue;
  background-size: cover;

  &:hover,
  &:focus-within {
    box-shadow: 0 0 10px $color-default-white;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-top-left-radius: 3px;
    background: url("../img/svg/icon-arrow.svg") no-repeat center;
    background-color: $color-deep-sky-blue;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &:nth-child(3n+1) {
    background-image: url("../img/jpg/bg-catalog-desktop-01@1x.jpg");

    @include vp-1024 {
      @include retina {
        background-image: url("../img/jpg/bg-catalog-desktop-01@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/jpg/bg-catalog-tablet-01@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-tablet-01@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/jpg/bg-catalog-mobile-01@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-mobile-01@2x.jpg");
      }
    }
  }

  &:nth-child(3n+2) {
    background-image: url("../img/jpg/bg-catalog-desktop-02@1x.jpg");

    @include vp-1024 {
      @include retina {
        background-image: url("../img/jpg/bg-catalog-desktop-02@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/jpg/bg-catalog-tablet-02@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-tablet-02@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/jpg/bg-catalog-mobile-02@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-mobile-02@2x.jpg");
      }
    }
  }

  &:nth-child(3n) {
    background-image: url("../img/jpg/bg-catalog-desktop-03@1x.jpg");

    @include vp-1024 {
      @include retina {
        background-image: url("../img/jpg/bg-catalog-desktop-03@2x.jpg");
      }
    }

    @include vp-1023 {
      background-image: url("../img/jpg/bg-catalog-tablet-03@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-tablet-03@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/jpg/bg-catalog-mobile-03@1x.jpg");

      @include retina {
        background-image: url("../img/jpg/bg-catalog-mobile-03@2x.jpg");
      }
    }
  }
}

.catalog-card h3 {
  width: 170px;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;

  @include vp-1023 {
    width: 150px;
  }

  @include vp-767 {
    width: 135px;
    font-size: 18px;
  }
}

.catalog-card a {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  height: 650px;
  padding: 47px 40px 80px;
  overflow-y: auto;
  z-index: 1;

  @include vp-1023 {
    height: 250px;
    padding-top: 37px;
    padding-left: 45px;
  }

  @include vp-767 {
    padding-top: 26px;
    padding-left: 30px;
  }
}
