.contacts-list__item a {
  color: $color-alice-blue;
  font-size: 16px;
  line-height: 18px;

  &:hover,
  &:focus {
    outline: 2px solid $color-default-white;
    outline-offset: 2px;
    border-radius: 2px;
  }
}

.contacts-list__item svg {
  fill: $color-deep-sky-blue;
  height: 25px;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 4px;

  @include vp-1023 {
    height: auto;
    margin-right: 0;
  }
}

.contacts-list__item span {
  @include vp-1023 {
    display: none;
  }
}

.contacts-list__item:last-child span {
  margin-left: 3px;
}

.contacts-list__item:not(:last-child) {
  @include vp-1023 {
    margin-right: 36px;
  }
}
